<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgNP_R4ZOEHIndxoR3ChoxBk_mwi6sE4E</string>
	<key>GCM_SENDER_ID</key>
	<string>453819941550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.outcode.template.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-86e8e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-86e8e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453819941550:ios:466cc7095dfca6f7a1633f</string>
</dict>
</plist>